<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson:</strong>
  <%= @question.lesson_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Que image:</strong>
  <%= @question.que_image %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
